<h1><%= @board.title %></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
  <% @board.marks.each do |m| %>
    <tr>
      <td><%= m.id %></td>
      <td><%= m.created_at.to_formatted_s(:short) %></td>
      <td><strong>Lat:</strong> <%= m.lat %><br />
          <strong>Lon:</strong> <%= m.lon %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= form_for([@board, @board.marks.build], :html => {role: 'form'}) do |f| %>
  <h2>New Mark</h2>
  <div class="row">
    <div class="form-group col-sm-4 col-sm-offset-2">
      <%= f.label :lat, class: 'control-label' %><br>
      <%= f.number_field(:lat, step: 'any', class: 'form-control') %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :lon, class: 'control-label' %><br>
      <%= f.number_field(:lon, step: 'any', class: 'form-control')  %>
    </div>
  </div>
  <%= f.submit 'Create', class: 'btn btn-default btn-mark' %>
<% end %>